= javascript_include_tag 'chat_room', 'sjcl'

.content_pane
  .form-horizontal
    %fieldset.fieldset_with_header
      %legend Chat Room
      .control-group
        %label.control-label{for: 'password'} Password
        .controls
          = password_field_tag :password, nil, class: 'input-xxlarge', tabindex: 1
          %p.help_block Your encryption key
      .control-group
        %label.control-label{for: 'password'} Username
        .controls
          = text_field_tag :username_display, nil, class: 'input-xxlarge', tabindex: 2
          %p.help_block Username to display on message
      .control-group
        %label.control-label{for: 'text'} Message
        .controls
          = text_area_tag :text, nil, class: 'input-xxlarge chat_entry',tabindex: 3
          -#%p.help_block Help text here
      .form-actions
        = button_tag 'Create Message', id: 'create_message', class: 'btn btn-primary'
        -#= form_tag nil, {id: 'create_message_form'} do
        -#= hidden_field_tag :encrypted_message
        -#= hidden_field_tag :username
      #messages= render :partial => 'messages'
      = hidden_field_tag :chat_room_name, params[:key]