= javascript_include_tag 'chat_room', 'sjcl'

.content_pane
  .form-horizontal
    %fieldset.fieldset_with_header
      %legend Drop
      .control-group
        %label.control-label{for: 'password'} Password
        .controls
          = password_field_tag :password, nil, class: 'input-xxlarge'
          %p.help_block Your encryption key
      .control-group
        %label.control-label{for: 'text'} Message
        .controls
          = text_area_tag :text, nil, class: 'input-xxlarge chat_entry'
          -#%p.help_block Help text here
      .form-actions
        = button_tag 'Create Message', id: 'create_message', class: 'btn btn-primary'
        = form_tag nil, {id: 'create_message_form'} do
          = hidden_field_tag :encrypted_message
      - @messages.each do |message|
        .control-group
          %label.control-label{for: 'encrypted_text'} Message
          .controls
            = text_area_tag :encrypted_text, message.data, class: 'input-xxlarge message', readonly: true
            -#%p.help_block Help text hereta