= javascript_include_tag 'homepage'

.content_pane
  %h1.header Welcome to Deadrop
  .left_column
    %p
      In today’s world, it is hard to have a private conversation via anything but face-to-face communication.
      To learn how Deadrop works, check out our
      = succeed ',' do
        = link_to 'How it Works page', controller: 'application', action: 'how_it_works'
      our
      = succeed ',' do
        = link_to 'Frequently asked Questions page', controller: 'application', action: 'faq'
      or our
      = succeed '.' do
        = link_to 'Blog', 'http://deadropus.blogspot.com', target: "_blank"
      If you want to jump right in, just click the “Create Drop” button below.
  = render 'create_form'
  -#= render 'create_chat_room'

-#<form class="well form-search">
-#  <input type="text" class="input-medium search-query">
-#  <button type="submit" class="btn">Search</button>
-#</form>